<!-- X00098814 Adam McGivern http://ca3cloudservice.cloudapp.net/-->
@model WebRole1.Models.Lotto

<div>
    <h4>Lotto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.numberOfNumbers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numberOfNumbers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numberRange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numberRange)
        </dd>

    </dl>
</div>
<p>
</p>
